/* ---------------------------MEDIA QUERIES----------------------------- */
@media (min-width: 350px){
    .d3tapubf:not(#_):not(#_) {
        display: block;
    }
}
@media (min-width: 880px){ 
    .page {
        --cta-col: calc(max(340px, 33vw));
    }
}
@media (min-width: 1024px){
    .ref--header.d3tapub:not(#_) {
        padding-right: 20%;
    }
}
/* ----------------------------COMMON FILES------------------------ */
.d3tapubc:not(#_):not(#_) {
    color: var(--night);
}
html body {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

html * {
    position: relative;
    box-sizing: border-box;
}
.page {
    --cta-col: 70px;
    --cta-right: 5vw;
    --cta-width: calc(var(--cta-col) - 3vw - 80px);
    --cta-top: 200px;
    position: relative;
    display: contents;
}
.d3tapube:not(#_):not(#_) {
    min-height: 360px;
    display: grid;
    width: 100vw;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.ref--header.d3tapub:not(#_) {
    z-index: 4;
    position: relative;
    align-content: center;
    align-items: center;
    justify-items: end;
    text-align: right;
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 40px;
}
.d3tapubf:not(#_):not(#_) {
    left: 0rem;
    top: 10px;
    /* display: none; */
    width: 46%;
    max-width: 600px;
    color: hsla(26.50,53.00%,91.50%,50%);
}
.d3tapub_ svg.shape.d3tapub:not(#_) {
    height: auto;
    opacity: 1;
}

.d3tapub_ .shape.d3tapub:not(#_) {
    position: absolute;
}
/* .shape path {
    fill: var(--c, currentColor);
} */
.d3tapubg:not(#_):not(#_) {
    top: -50px;
    right: -7vw;
    min-width: 200px;
    width: 30%;
    max-width: 550px;
    color: hsla(139.00,25.50%,92.50%,100%);
}



